$nav-color: #fff;

.nav-container {
    overflow: hidden;
  nav {
    width: 100%;
    height: 50px;
    background-color: $nav-color;
    box-shadow: 0 0 5px #bbb;
    position: sticky;
    display: flex;
    align-items: center;
    padding: 0 10px;
    top: 0;
    z-index: 1;
    overflow: hidden;
  }

  .side-nav {
    width: 250px;
    min-height: 92.3vh;
    background-color: #fafafa;
    box-shadow: 0 0 5px #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    img {
      position: absolute;
      top: 50px;
      width: 80px;
      height: 80px;
    }
  }
}
